@media (prefers-color-scheme: dark) {
    body, div {
      background-color: #222;
    }
  
    p {
      color: #fff;
    }
  }

  @media (prefers-color-scheme: light) {
    body, div {
      background-color: #fff;
    }
  
    p {
      color: #222;
    }
  }