:root[theme="dark"]{
  --color:#cacaca;
  --bg-tab:#3d3d3d;
  --bg-tab-content: #242424;
  --bg-button: #1c1c1c;
}

:root[theme="light"]{
  --color:#242424;
  --bg-tab:#cacaca;
  --bg-tab-content: #ededed;
  --bg-button: #d6d6d6;
}

:root {
  font-family: 'Noto Sans JP', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  width: 100%;
  height: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg-tab-content);
  color: var(--color);
  margin: 0;
  display: flex;
  width: 100%;
  height: 100%;
}

#root{
  margin: 0;
  width: 100%;
  height: 100%;
}